{% comment %}
  Renders product pieces label

  Parameters:
  - product: {Object} Product

  Usage:
  {% render 'pf-payments', height: height %}
{% endcomment %}

{% liquid
  assign height = height | default: 40
%}

<div style="display: grid; grid-gap: {{ height | times: 0.25 }}px; grid-auto-flow: column; grid-auto-columns: max-content; place-content: center; padding: 10px">
  <svg
    height="{{ height }}"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    viewBox="0 0 1920 672"
  >
    <g>
    	<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#D13239" points="409.6,384.9 566,384.7 560.3,420.3 429.5,545.2    539.3,545 532.9,583.4 371.2,583.5 378,543.8 503.4,423.7 403.3,423.7 409.6,384.9  "/>
    	<path fill-rule="evenodd" clip-rule="evenodd" fill="#D13239" d="M238.5,324c-3.4-3.6-8.3-6.4-13.7-8.6c-5.7-2.2-12-3.8-18.2-4.9   c-7.8-1.4-15.4-2-20.8-2.2c-5-0.2-8.2-0.2-8.2-0.2l-68.4,0l-50.9,0L12.7,583.5l42.6,0l16.8-102l82.6,0.4c0,0,32.2,1.3,55-10.8   c22.8-12.1,28.9-39.6,28.9-39.6s2.5-10.2,4.6-22.6c2.3-13.7,4.6-30.1,5.8-38.8c0.5-3.8,0.8-6.2,0.8-6.2s0.6-2.8,0.6-7.2   c0.1-6.1-0.8-15.3-5.6-24.1C243.1,329.5,241.1,326.7,238.5,324z M205.7,372.6c0,0.5-3.8,22.6-8.8,48.8c-1.9,10-9.6,15.4-18.4,17.3   c-14.6,3.1-30.3,2.5-30.3,2.5l-69-0.2l15.2-91.5l62.5,0.2c0,0,4.2-0.1,10.1,0c6.7,0.1,15.6,0.4,22.9,1.4c6.3,0.8,11.3,2.1,12.9,4.1   c2.1,2.6,2.9,6,3.2,9C206.4,368.6,205.7,372.3,205.7,372.6z"/>
    	<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#D13239" points="778.1,308.1 819.1,308.1 773.2,583.5 732.1,583.4    778.1,308.1  "/>
    	<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#D13239" points="996.9,384.9 1036.2,384.8 1050.1,524.6 1110.6,384.6    1159.1,384.7 1173.4,525.1 1233.8,384.8 1274.6,384.8 1188,583.3 1139.6,583.3 1125.6,444.3 1064.5,583.3 1016.9,583.5    996.9,384.9  "/>
    	<g>
    		<path fill="#D13239" d="M702.4,386.5c-11.5-3.7-31.4-4.5-48.3-4.3c-16.3,0.2-23.8,1-29.9,2.3c0,0-29,4.2-45.5,24.6    c-16.5,20.4-21.4,65-21.4,65s-9.8,49.3-6.9,65.8c2.9,16.4,8,31.7,26.6,38.8c18.6,7.2,34.4,6.8,34.4,6.8s33.2,2.6,58.2-3.3    c25-5.9,38.2-23.5,38.2-23.5s5.9-7.6,10.1-16.6c4.2-9,5.5-15.3,5.7-16.1l2.6-10.7l-42.5,0.1c0,0-2.3,28.1-25.3,30.7    c-22.9,2.6-35.2,1.6-39.7,1.4c-4.4-0.2-29,0.9-27-19.7c0-0.3,0-0.7,0.1-1.3c1.1-23.4,3.7-29.5,3.7-29.5l133.5-0.4l5.7-33    C741.3,426.2,736.6,397.7,702.4,386.5z M693.5,458.9l-91.5-0.1l3.6-14.5c0,0,3.2-11.4,9.5-16.2c6.4-4.8,14.5-5.7,22.1-6.4    c7.6-0.7,27.9-2.2,44.4,1.2c5.5,1.1,10.7,4.2,12.1,8.8C696.9,442.5,693.5,458.9,693.5,458.9z"/>
    		<path fill="#D13239" d="M592,526.9c0,0.3-0.1,0.6-0.1,0.9C591.8,529.4,592,526.8,592,526.9z"/>
    	</g>
    	<g>
    		<path fill="#D13239" d="M843.8,527c0,0.3-0.1,0.6-0.1,0.9C843.7,529.5,843.8,526.9,843.8,527z"/>
    		<path fill="#D13239" d="M954.3,386.6c-11.5-3.7-31.4-4.5-48.3-4.3c-16.3,0.2-23.8,1-29.9,2.3c0,0-29,4.2-45.5,24.6    c-16.5,20.4-21.4,65-21.4,65s-9.8,49.3-6.9,65.8c2.9,16.4,8,31.7,26.6,38.8c18.6,7.2,34.4,6.8,34.4,6.8s33.2,2.6,58.2-3.3    c25-5.9,38.2-23.5,38.2-23.5s5.9-7.6,10.1-16.6c4.2-9,5.5-15.3,5.7-16.1l2.6-10.7l-42.5,0.1c0,0-2.3,28.1-25.3,30.7    c-22.9,2.6-35.2,1.6-39.7,1.5c-4.4-0.2-29,0.8-27-19.7c0-0.3,0-0.7,0.1-1.3c1.1-23.4,3.7-29.5,3.7-29.5l133.5-0.4l5.7-33    C993.2,426.3,988.5,397.7,954.3,386.6z M945,458.9l-91.5-0.1l3.6-14.5c0,0,3.2-11.4,9.5-16.2c6.3-4.8,14.5-5.7,22.1-6.4    c7.6-0.7,27.9-2.2,44.4,1.2c5.5,1.1,10.7,4.2,12.1,8.8C948.4,442.4,945,458.9,945,458.9z"/>
    	</g>
    	<path fill-rule="evenodd" clip-rule="evenodd" fill="#D13239" d="M1321.8,384.9l26.3,145.2l74.3-145.3l41.8,0.4l-107.1,207.5   c0,0-19.4,37.6-31.4,47.1c-12,9.5-19.4,13.8-29.2,14.8c-9.8,1-13.8,1.7-23.2,0l-10-1.8l6.2-37.1c0,0,16.6,3.1,26.4-0.8   c9.9-3.9,17.8-20.7,17.8-20.7l5-8.4l-38.7-201L1321.8,384.9L1321.8,384.9z"/>
    	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B3B2B1" d="M1479.4,404.6l43.1,0.1l2.6-16.7c0,0,4.6-30.2,14.9-36   c3.3-1.9,8.6-3.6,14.7-4.7c11.3-2,25.6-2.2,37.3-1.8c17.9,0.6,24.7,0.8,42.9,2.9c18.2,2.1,13.6,19.7,13.6,19.7l-3.6,26.3   c0,0-1.6,11.8-5.8,19.1c-3.7,6.5-13.9,10.9-19.8,12.8c-14.2,4.6-62.8,17-62.8,17l-38.2,11c0,0-23.5,6.8-36.6,21.3   c-13.2,14.6-18.4,31.1-20.2,39.7c-1.8,8.6-11.9,68.1-11.9,68.1l206.2,0.1l6.9-41.2l-163.1,0.2l2.9-16.8c0,0,1.9-17.3,8.9-23   c2.2-1.8,3.3-4.2,16.3-8.8c7.8-2.8,34.4-9.9,34.4-9.9l61.5-16.8c0,0,33.6-8.6,46.8-27c13.2-18.3,18.3-53.4,18.3-53.4   s3.6-34.1,0.8-44.8c-2.7-10.7-12.8-23.5-25.1-29c-12.3-5.5-25.1-8.7-62.2-8.2c-37.1,0.5-55.5,2.2-74.3,9.2   c-18.8,6.9-29.7,19.5-36.6,37.3C1483.8,368.2,1479.4,404.6,1479.4,404.6L1479.4,404.6z"/>
    	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B3B2B1" d="M1867.6,481.2l28.9-173.2l-51.2,0l-159.4,171.2l-7.2,43.4l139.4,0   l-10.2,60.8l42.8,0.1l10.1-60.9l39.5,0.1l7.1-41.5L1867.6,481.2z M1825,481.3l-90.1-0.1l109.7-116.9L1825,481.3z"/>
    	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B3B2B1" d="M328.9,330.8h131.3c0,0,29.4-23.8,50.3-39.1   c20.9-15.3,58.9-39.4,58.9-39.4l-74.2-34.7c0,0-62.7,38.8-89.3,57.1C380.1,291.6,328.9,330.8,328.9,330.8L328.9,330.8z"/>
    	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B3B2B1" d="M611.1,227.8l-60.9-41c0,0,55.1-31.3,128.4-60.5   c73.2-29.2,112.3-41.4,112.3-41.4l12.4,58.1c0,0-70.5,23.6-110.9,42.7C650.6,203.5,611.1,227.8,611.1,227.8L611.1,227.8z"/>
    	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B3B2B1" d="M848.3,130.3l-10.6-59.5c0,0,75.2-20,144-32.8   c68.9-12.8,160.2-18.9,160.2-18.9l-30.2,91.9c0,0-80.3-11-155.7-0.7C897.3,117.3,848.3,130.3,848.3,130.3L848.3,130.3z"/>
    	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B3B2B1" d="M1159.5,118.8l50.8-102.1c0,0,111.3-2.2,207.3,12.7   c96,14.8,183.8,37.6,181.9,38.6l-243.4,127.3c0,0-56.9-36-127.5-58.1C1188.6,125.4,1159.5,118.8,1159.5,118.8L1159.5,118.8z"/>
    	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B3B2B1" d="M1399.7,223l53.5,40.6h439.7c0,0-0.9-14.2-12.6-34.4   c-7.3-12.6-20.6-26-34.5-39.9c-5.1-5-25.3-20.8-40.5-30.7c-38.8-25.2-60.5-34.9-100.8-53.2L1399.7,223L1399.7,223z"/>
    	<path fill="#D13239" d="M357.4,384.7c-16.5,0-32.1,6.5-45.4,13.8l2.3-13.8h-43.7l-35,197.7h43.8l19.4-109.5   c4-22.2,20.6-49.7,53-49.7l22.6-0.1l6.8-38.4H357.4z"/>
    </g>
  </svg>

  <svg xmlns="http://www.w3.org/2000/svg" height="{{ height }}" viewBox="0 0 24 23.4">
    <defs>
        <linearGradient id="linear-gradient" x1="0.5" y1="1" x2="0.5" gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="#262626"/>
            <stop offset="1"/>
        </linearGradient>
        <radialGradient id="radial-gradient" cx="0.093" cy="-0.027" fx="0.07417836785316467" fy="-0.03188137337565422" r="1.639" gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="red"/>
            <stop offset="0.495" stop-color="#e83e49"/>
            <stop offset="1" stop-color="#f0f"/>
        </radialGradient>
    </defs>
    <g transform="translate(-415.4 -46.6)">
        <path d="M435.635,69.871h-16.5a3.65,3.65,0,0,1-3.65-3.65V50.4a3.65,3.65,0,0,1,3.65-3.65h16.5a3.65,3.65,0,0,1,3.65,3.65V66.22A3.65,3.65,0,0,1,435.635,69.871Z" fill="url(#linear-gradient)"/>
        <path d="M459.928,74.646a5.632,5.632,0,0,0-2.675.672V69.135h-2.98V80.3a5.655,5.655,0,1,0,5.655-5.655Zm0,8.33A2.675,2.675,0,1,1,462.6,80.3,2.675,2.675,0,0,1,459.928,82.976Z" transform="translate(-32.793 -18.927)" fill="#fff"/>
        <circle cx="2.657" cy="2.657" r="2.657" transform="translate(427.386 49.382)" fill="url(#radial-gradient)"/>
    </g>
  </svg>

  <svg xmlns="http://www.w3.org/2000/svg" height="{{ height }}" viewBox="0 0 30 30">
    <g transform="translate(0 19.565)">
        <g transform="translate(1.39 0.921)">
            <g transform="translate(0 0.108)">
                <path d="M11.552,7.41H10v.275c1.209.04,1.57.6,1.705,1.263l.713,7.067H14.77L19.778,7.41H17.432l-3.01,5.171-.51-5.171Z" transform="translate(-10 -7.41)" fill="#1434cb" fill-rule="evenodd"/>
                <path d="M72.144,7.41h2.3l-2.825,8.6H69.36Z" transform="translate(-61.11 -7.41)" fill="#1434cb" fill-rule="evenodd"/>
                <path d="M152.438,8.58l-4.408,8.443H150.5l.645-1.286h2.87l.094,1.286h2.256l-.627-8.443h-3.3Zm1.2,2.171.267,3.569h-2.062Z" transform="translate(-128.847 -8.417)" fill="#1434cb" fill-rule="evenodd"/>
            </g>
            <path d="M99.155,8.922a3.126,3.126,0,0,1,3.376-2.292,5.329,5.329,0,0,1,3.119,1.123L104.3,9.175a3.852,3.852,0,0,0-1.588-.785c-.781,0-1.133.289-1.2.749-.14.934,3.181,1.5,3.077,3.677a3.316,3.316,0,0,1-3.29,2.856,6.381,6.381,0,0,1-3.85-1.034l1.177-1.647a4.122,4.122,0,0,0,2.256.88c.745-.032,1.317-.315,1.273-.812-.086-1.137-3.583-1.657-2.964-4.133Z" transform="translate(-85.288 -6.63)" fill="#1434cb"/>
        </g>
    </g>
    <g transform="translate(4.108 1)">
        <rect width="5.973" height="10.733" transform="translate(8.059 1.46)" fill="#ff5f00"/>
        <path d="M2907.173,2246.328a6.844,6.844,0,0,1,2.6-5.366,6.827,6.827,0,1,0,0,10.733A6.816,6.816,0,0,1,2907.173,2246.328Z" transform="translate(-2898.734 -2239.502)" fill="#eb001b"/>
        <path d="M3410.2,2246.328a6.819,6.819,0,0,1-11.036,5.367,6.842,6.842,0,0,0,0-10.733,6.819,6.819,0,0,1,11.036,5.366Z" transform="translate(-3388.112 -2239.502)" fill="#f79e1b"/>
    </g>
  </svg>

  <svg xmlns="http://www.w3.org/2000/svg" height="{{ height }}" viewBox="0 0 35 25">
    <g transform="translate(0.15 1.5)">
        <path d="M31.646,0H2.756c-.1,0-.2,0-.3,0A4.364,4.364,0,0,0,1.8.063a2.207,2.207,0,0,0-.621.2,2.088,2.088,0,0,0-.914.914,2.2,2.2,0,0,0-.2.622,4.335,4.335,0,0,0-.058.653c0,.1,0,.2,0,.3,0,.119,0,.238,0,.357V19.139c0,.119,0,.238,0,.357,0,.1,0,.2,0,.3a4.334,4.334,0,0,0,.058.653,2.2,2.2,0,0,0,.2.622,2.088,2.088,0,0,0,.914.914,2.2,2.2,0,0,0,.621.205,4.4,4.4,0,0,0,.654.057l.3,0H32l.3,0a4.41,4.41,0,0,0,.654-.057,2.2,2.2,0,0,0,.621-.205,2.088,2.088,0,0,0,.914-.914,2.183,2.183,0,0,0,.2-.622,4.333,4.333,0,0,0,.057-.653q0-.15,0-.3c0-.119,0-.238,0-.357V3.113c0-.119,0-.238,0-.357q0-.15,0-.3A4.335,4.335,0,0,0,34.7,1.8a2.184,2.184,0,0,0-.2-.622,2.088,2.088,0,0,0-.914-.914,2.209,2.209,0,0,0-.621-.2A4.376,4.376,0,0,0,32.3.005c-.1,0-.2,0-.3,0Z" transform="translate(0)"/>
        <path d="M34.436,3.532h.351c.1,0,.19,0,.286,0a3.708,3.708,0,0,1,.542.046,1.464,1.464,0,0,1,.417.136,1.347,1.347,0,0,1,.589.589,1.445,1.445,0,0,1,.135.416,3.69,3.69,0,0,1,.046.542c0,.094,0,.189,0,.286,0,.117,0,.234,0,.351V21.93c0,.117,0,.234,0,.353,0,.094,0,.189,0,.284a3.685,3.685,0,0,1-.046.544,1.44,1.44,0,0,1-.135.415,1.347,1.347,0,0,1-.59.589,1.452,1.452,0,0,1-.414.136,3.772,3.772,0,0,1-.54.046l-.29,0H5.55l-.284,0a3.779,3.779,0,0,1-.543-.046,1.457,1.457,0,0,1-.417-.137,1.347,1.347,0,0,1-.588-.589,1.456,1.456,0,0,1-.136-.417,3.669,3.669,0,0,1-.046-.541c0-.1,0-.19,0-.284V5.551c0-.1,0-.19,0-.285a3.672,3.672,0,0,1,.046-.543,1.454,1.454,0,0,1,.136-.416,1.347,1.347,0,0,1,.589-.588,1.461,1.461,0,0,1,.416-.136,3.7,3.7,0,0,1,.543-.046c.1,0,.19,0,.284,0H34.436" transform="translate(-2.79 -2.79)" fill="#fff"/>
        <g transform="translate(4.711 6.101)">
            <g>
                <path d="M40.31,30.438a1.94,1.94,0,0,0,.446-1.383,1.924,1.924,0,0,0-1.275.66,1.816,1.816,0,0,0-.457,1.329,1.605,1.605,0,0,0,1.286-.606" transform="translate(-35.532 -29.055)"/>
                <path d="M27.654,38.972c-.71-.042-1.314.4-1.653.4s-.859-.382-1.42-.371A2.094,2.094,0,0,0,22.8,40.085c-.763,1.315-.2,3.266.541,4.338.36.53.795,1.114,1.367,1.093.541-.021.753-.35,1.41-.35s.848.35,1.42.34c.594-.011.965-.53,1.325-1.061a4.708,4.708,0,0,0,.593-1.22,1.926,1.926,0,0,1-1.155-1.75,1.963,1.963,0,0,1,.933-1.644,2.031,2.031,0,0,0-1.579-.859" transform="translate(-22.435 -36.887)"/>
            </g>
            <g transform="translate(8.42 0.607)">
                <path d="M65.513,31.944a2.5,2.5,0,0,1,2.619,2.613,2.524,2.524,0,0,1-2.657,2.624H63.765V39.9H62.53V31.944Zm-1.748,4.2h1.417a1.583,1.583,0,1,0,.006-3.159H63.765Z" transform="translate(-62.53 -31.944)"/>
                <path d="M90.74,45.967c0-1.014.777-1.637,2.156-1.715l1.588-.094v-.447c0-.645-.436-1.031-1.163-1.031a1.11,1.11,0,0,0-1.224.849H90.972c.066-1.048.959-1.819,2.393-1.819,1.406,0,2.3.744,2.3,1.908v4H94.527v-.954H94.5a2.072,2.072,0,0,1-1.83,1.053A1.758,1.758,0,0,1,90.74,45.967Zm3.743-.524v-.458l-1.428.088c-.711.05-1.114.364-1.114.86s.419.838,1.059.838A1.39,1.39,0,0,0,94.483,45.443Z" transform="translate(-84.816 -39.659)"/>
                <path d="M117.185,50.143v-.965a2.2,2.2,0,0,0,.386.022.966.966,0,0,0,1.031-.827c0-.011.1-.353.1-.358l-2.095-5.805h1.29l1.467,4.719h.022l1.467-4.719h1.257l-2.172,6.1c-.5,1.406-1.069,1.858-2.271,1.858A4.6,4.6,0,0,1,117.185,50.143Z" transform="translate(-105.255 -40.053)"/>
            </g>
        </g>
    </g>
  </svg>

  <svg xmlns="http://www.w3.org/2000/svg" height="{{ height }}" viewBox="0 0 40 25">
    <g transform="translate(-170.5 -168)">
        <path d="M199.826,170H181.253A10.584,10.584,0,0,0,170.7,180.553h0a10.584,10.584,0,0,0,10.553,10.553h18.573a10.584,10.584,0,0,0,10.553-10.553h0A10.584,10.584,0,0,0,199.826,170Z" fill="#fff"/>
        <path d="M199.826,170.855a9.572,9.572,0,0,1,3.762.765,9.783,9.783,0,0,1,5.171,5.171,9.632,9.632,0,0,1,0,7.524,9.784,9.784,0,0,1-5.171,5.171,9.573,9.573,0,0,1-3.762.765H181.253a9.573,9.573,0,0,1-3.762-.765,9.784,9.784,0,0,1-5.171-5.171,9.632,9.632,0,0,1,0-7.524,9.783,9.783,0,0,1,5.171-5.171,9.572,9.572,0,0,1,3.762-.765h18.573m0-.855H181.253A10.584,10.584,0,0,0,170.7,180.553h0a10.584,10.584,0,0,0,10.553,10.553h18.573a10.584,10.584,0,0,0,10.553-10.553h0A10.584,10.584,0,0,0,199.826,170Z" transform="translate(0 0)" fill="#3c4043"/>
        <g transform="translate(176.268 175.818)">
            <g transform="translate(12.274 0.595)">
                <path d="M511.148,300.152v3.3H510.1V295.3h2.778a2.506,2.506,0,0,1,1.8.7,2.351,2.351,0,0,1,0,3.449,2.5,2.5,0,0,1-1.8.693h-1.73Zm0-3.848v2.843H512.9a1.4,1.4,0,0,0,1.037-.42,1.375,1.375,0,0,0,.42-1,1.454,1.454,0,0,0-1.457-1.419h-1.752Z" transform="translate(-510.1 -295.3)" fill="#3c4043"/>
                <path d="M615.734,339.1a2.592,2.592,0,0,1,1.834.622,2.208,2.208,0,0,1,.671,1.7v3.438h-1v-.775H617.2a1.994,1.994,0,0,1-1.73.955,2.246,2.246,0,0,1-1.544-.546,1.743,1.743,0,0,1-.622-1.364,1.648,1.648,0,0,1,.655-1.375,2.747,2.747,0,0,1,1.746-.513,3.052,3.052,0,0,1,1.534.344v-.24a1.189,1.189,0,0,0-.431-.928,1.48,1.48,0,0,0-1.015-.382,1.592,1.592,0,0,0-1.386.742l-.922-.578A2.56,2.56,0,0,1,615.734,339.1Zm-1.353,4.05a.826.826,0,0,0,.349.682,1.283,1.283,0,0,0,.813.273,1.662,1.662,0,0,0,1.179-.491,1.542,1.542,0,0,0,.519-1.152,2.158,2.158,0,0,0-1.364-.388,1.792,1.792,0,0,0-1.064.306A.932.932,0,0,0,614.381,343.15Z" transform="translate(-607.668 -336.71)" fill="#3c4043"/>
                <path d="M711.578,342.4l-3.493,8.034H707l1.3-2.811L706,342.4h1.141l1.659,4.006h.022l1.615-4.006Z" transform="translate(-695.309 -339.83)" fill="#3c4043"/>
            </g>
            <g>
                <path d="M375.33,354.973a5.514,5.514,0,0,0-.087-.983H370.85v1.8h2.53a2.167,2.167,0,0,1-.939,1.451v1.169h1.506A4.578,4.578,0,0,0,375.33,354.973Z" transform="translate(-366.176 -350.192)" fill="#4285f4"/>
                <path d="M300.079,387.912a2.833,2.833,0,0,1-4.215-1.482H294.31v1.2a4.676,4.676,0,0,0,4.178,2.575,4.46,4.46,0,0,0,3.1-1.13Z" transform="translate(-293.813 -380.862)" fill="#34a853"/>
                <path d="M287.1,333.68a2.818,2.818,0,0,1,.146-.895V331.58H285.7a4.681,4.681,0,0,0,0,4.2l1.553-1.205A2.818,2.818,0,0,1,287.1,333.68Z" transform="translate(-285.2 -329.005)" fill="#fabb05"/>
                <path d="M298.488,286.25a2.541,2.541,0,0,1,1.794.7l1.334-1.333a4.491,4.491,0,0,0-3.128-1.218,4.677,4.677,0,0,0-4.178,2.575l1.553,1.205A2.8,2.8,0,0,1,298.488,286.25Z" transform="translate(-293.813 -284.4)" fill="#e94235"/>
            </g>
        </g>
    </g>
  </svg>
</div>
